@charset "UTF-8";
/* 共通部分
---------------------------------------------- */
html{
    font-size: 100%;
}
body{

    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
    color: #666666;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* HEADER
---------------------------------------------- */
.logo {
    width: 121px;
    margin-top: 30px;
}
/* main nav
---------------------------------------------- */
.main-nav{
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    text-transform: uppercase;
    margin-top: 34px;
    margin-right: 160px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a {
    color: #000000;
}
.main-nav a:hover{
    color: #ede290;
}
.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 9999;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    height: 23px;
    margin-bottom: 44px;
}
h1 {
    margin-left: 160px;
    height: 23px;
}
/* hero
---------------------------------------------- */
.hero-content {
    text-align:center;
    margin-top: 10%;
    color: #000000;
}
.hero-content p {
    font-size: 48px;
    margin: 10px 0 42px;
    text-align:center;
    white-space: nowrap;
    margin-right: 216px;
    color: #666666;
}
/* 見出し
---------------------------------------------- */
.page-title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fefefe;
}
/* button
---------------------------------------------- */
.button {
    font-size: 1.375rem;
    background: #666666;
    color: #fefefe;
    border-radius: 10px;
    padding: 8px 26px;
    display: inline-flex;
    padding: 8px 32px;
    align-items: flex-start;
    gap: 8px;
}
.button:hover {
    background: #ede290;
}
/* 大きな背景画像
---------------------------------------------- */
.big-bg {
    background-size: cover;
    background-position: center;
    height: 1280px;
}

#hero {
    background-image: url(images/hero_building1.jpeg);
    min-height: 100vh;
}
#hero .page-title {
    text-transform: none;
}
/* intro
---------------------------------------------- */
.intro-content wrapper {
    display: flex;
}
.intro_stockchart {
    border-radius: 20px;
    width: 523px;
    height: 400.167px;
}
.page-title {
    color: #666666;
    margin-top: 145px;
}
.introtext {
    margin-top: 30px;
}
/* topmenu
---------------------------------------------- */
#topmenu {
    margin-top: 2138px
}
.topmenu-wrapper {
    display: flex;
}
.topmenu-box1 {
    font-family: 'Montserrat', sans-serif;
}
.topmenu_service {
    width: 352px;
    height: 256px;
    border-radius: 20px;
}
.topmenu-box2 {
    font-family: 'Montserrat', sans-serif;
}
.topmenu_about {
    width: 352px;
    height: 256px;
    border-radius: 20px;
}
.topmenu-box3 {
    font-family: 'Montserrat', sans-serif;
}
.topmenu_column {
    width: 352px;
    height: 256px;
    border-radius: 20px;
}
/* topnews
---------------------------------------------- */
.container {
    margin-top: 2180px
}
.item {
    background :#0bd;
    color :#fff;
    margin: 10px;
    padding: 10px;
}







/* 企業情報・地図
---------------------------------------------- */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.location-info {
    width: 22%;
    text-align: left;
}
.location-info p {
    padding: 10px 10px;
    text-align: left;
}
.location-map {
    display: flex;
    width:max-content
}
/* iframe
---------------------------------------------- */
iframe {
    width: 100%;
}
/* sns
---------------------------------------------- */
#sns {
    background: #FAF7F0;
    padding: 4% 0;
    margin-bottom: 300px;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
    font-family: 'Montserrat', sans-serif;
}



/* footer
---------------------------------------------- */
footer {
    background: #d9d9d9;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}

/* メディアクエリー
---------------------------------------------- */
@media (max-width: 600px) {
    h1 {
        color: #0bd;
    }
}